.navbar-center{
   height: 10rem;
   font-size:2.5rem;
   display: grid;
   grid-template-columns: repeat(3,1fr);
   background-color: rgb(214, 214, 215);
}
.img{
  width: 5rem;
  height: 5rem;
  mix-blend-mode: multiply; /*去背*/
  margin: 0 auto;
}
