:root{
    --clr-primary-1:rgb(154, 162, 183);
    --clr-primary-2:rgba(237, 237, 248, 0.587) ;
    --radius:0.5rem;
}


.main-resume-section{
    font-size: 30px;
    display: grid;
    grid-template-columns: 30fr 70fr;
    max-width: 100rem;
    height: 80rem;
    margin: 0 auto;
}

.content-info{
    border: 2px solid var(--clr-primary-2);
    margin: 1rem;
}
.profile-img{
    width:15rem;
    height: 15rem;
    border-radius: 45%;
}

.resume-left{
    background-color: var(--clr-primary-1);
    text-align: center;
}

.resume-right{
    text-align: center;
    background-color: var(--clr-primary-2);
}


.interests{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 10rem;
}
.interest:hover{
    color: var(--clr-primary-1);
    opacity: 0.3;
}

.interest-img{
    width: 10rem;
    height: 10rem;
}