@charset "UTF-8";
/*
=======
root
=======
*/
:root {
  --clr-primary-1:rgb(154, 162, 183);
  --clr-primary-2:rgba(237, 237, 248, 0.587) ;
  --radius:0.5rem;
}

/*
=======
index
=======
*/
.navbar-center {
  height: 5rem;
  font-size: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: var(--clr-primary-2);
}

.img {
  width: 5rem;
  height: 5rem;
  mix-blend-mode: multiply; /*去背*/
  margin: 0 auto;
}

/*
=======
index
=======
*/
.main-resume-section {
  font-size: 30px;
  display: grid;
  grid-template-columns: 30fr 70fr;
  max-width: 100rem;
  height: 80rem;
  margin: 0 auto;
  margin-top: 2rem;
}

.content-info {
  font-size: 60px;
  border: 2px solid var(--clr-primary-2);
  margin: 1rem;
}

.profile-img {
  width: 15rem;
  height: 15rem;
  border-radius: 45%;
}

.resume-left {
  background-color: var(--clr-primary-1);
  text-align: center;
}

.resume-right {
  text-align: center;
  background-color: var(--clr-primary-2);
}

.interests {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 10rem;
}

.interest:hover {
  color: var(--clr-primary-1);
  opacity: 0.3;
}

.interest-img {
  width: 10rem;
  height: 10rem;
}

/*
=======
work
=======
*/
.work-img {
  max-width: 400px;
  margin: 0 auto;
  display: block;
}

body {
  font-size: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--clr-primary-2);
}

.title {
  font-size: 2.5rem;
  text-align: center;
}

.underline {
  margin: 0 auto;
  width: 200px;
  height: 0.5rem;
  background-color: var(--clr-primary-1);
}

.work {
  margin: 0 auto;
  text-align: center;
  margin: 1rem;
  background-color: white;
  padding: 1rem;
}

@media screen and (min-width: 768px) {
  .work-center {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 992px) {
  .work-center {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1170px) {
  .work-center {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
/*
=========
learning
=========
*/
.learn {
  font-size: 2rem;
  text-align: center;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .learn {
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 992px) {
  .learn {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1170px) {
  .learn {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
/*
=======
hero
=======
*/
.hero {
  background-color: var(--clr-primary-2);
  height: 130hv;
}
.hero-center {
  min-height: calc(100vh - 4rem);
  display: grid;
  place-items: center;
}
.hero-img {
  display: none;
}
.hero-photo {
  max-width: 25rem;
  max-height: 30rem;
  object-fit: cover;
  position: relative;
}

@media screen and (min-width: 768px) {
  .hero .underline {
    margin-left: 0;
    margin-bottom: 0.5rem;
  }
  .hero .hero-info h4 {
    color: var(--clr-primary-1);
  }
  .hero-center {
    grid-template-columns: 1fr 1fr;
  }
  .hero-img {
    display: block;
    width: 70%;
    position: relative;
  }
  .hero-img::before {
    content: "";
    position: absolute;
    top: 2rem;
    right: -2rem;
    width: 100%;
    height: 100%;
    border: 0.25rem solid var(--clr-primary-1);
    border-radius: 2px;
  }
}

/*# sourceMappingURL=style.css.map */
